.button-confirm {
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
    color: white;
}

.button-confirm:hover {
    filter: brightness(1.3);
    /* sáng hơn khi hover */
}