.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.code-input-field {
  height: 60px !important;     /* h-14 */
  font-size: 30px !important; /* text-xl */
  font-weight: 700;
  padding: 10px !important;
  border: 2px solid var(--white) !important;
  border-radius: 10px !important;
  transition: all 0.3s ease !important;
}

.code-input-field:focus {
  border: 2px solid var(--primary-color) !important; 
  box-shadow: 0 0 0 3px rgba(22, 163, 74, 0.1) !important; 
  outline: none !important;
}
