:root {
  --primary-color: #1f7d53;
  /* Green */
  --secondary-color: #f5a623;
  /* Yellow */
  --white: #ffffff;
  /* White */
  --black: #000000;
  /* Black */
  --text-color: #333;
  /* Dark Gray */
}

body {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  height: auto;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.gradient-bg {
  background: linear-gradient(to right top, var(--primary-color) 10%, var(--secondary-color) 100%);
}